#friends-box {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 30px;
    width: 400px;
    background-color: white;
    padding-bottom: 20px;
}

#friends-box-friends img {
    width: 115px;
    height: 115px;
    border-radius: 5px;
}

#friends-box-friends {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.friends-box-individual-friends {
    width: 115px;
    height: 115px;
    margin-top: 40px;
}

#friends-box-header {
    margin: 0px 20px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

#friends-box-header span {
    color: gray;
}

#friends-box-header h2 {
    margin: 20px 0px 2px;
}

.friend-name {
    font-size: 14px;
    /* word-wrap: break-word; */
    overflow-wrap: anywhere;
    display: table;
    margin: 0px auto;
}